p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Press Start 2P";
}

.errorMessage {
  color: red;
  font-family: "Press Start 2P", "cursive";
}

.welcome-page-container {
  margin-top: 100px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #75d193;
  padding: 80px 60px;
  display: inline-block;
  justify-content: center;
}

.stack-container {
  display: flex;
  justify-content: center;
}

.header-center {
  display: flex;
  justify-content: center;
  padding-left: 1.6cm;
}
